.aptitudes-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
    margin: 5% 0 2% 0;
}

.aptitudes-tecnicas-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 3% 5%;
}

.aptitudes-tecnicas-section div {
    padding: 10%;
}

.aptitudes-personales-section {
    padding: 3% 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; 
    gap: 10px; 
}

.aptitudes-personales-section label {
    color: var(--color5);
    font-size: 18px;
}



@media (max-width: 700px) {
    .aptitudes-container {
        padding: 3% 0;
    }
    .aptitudes-tecnicas-section{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3%;
    }
    .aptitudes-tecnicas-section div {
        padding: 2%;
    }
    .aptitudes-personales-section {
        padding: 3%;
        gap: 20px;
    }
    .aptitudes-personales-section label {
        font-size: 15px;
    }
}