.estudios-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
}

.estudios-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    padding: 3% 1%;
}

.estudio-nuevo-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.img-container-estudios {
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
    margin: auto; 
}

.img-container-estudios img {
    display: block;
    max-width: 100%; 
    height: auto; 
    margin: auto;
}

@media (max-width: 700px) {
    .estudios-section{
        grid-template-columns: 1fr;
    }
}