.estudios-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
}

.estudios-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    padding: 3% 2%;
}

.estudio-nuevo-btn{
    display: flex;
    justify-content: center;
    margin: 35px;
}

@media (max-width: 700px) {
    .estudios-section{
        grid-template-columns: 1fr;
        margin-top: 50px; 
    }
}