* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --color1:  #0F1832;
    --color2: #D8D1CB;
    --color3: #3F489B;
    --color4: #000;
    --color5: #fff;
}

body,
html {
    height: 100%;
    background-color: var(--color1);
}

section{
    padding: 3% 0;
}

button {
    margin: 2px;
}

.body-box {
    padding: 2% 1%;
    background-image: url('../assets/fondo-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-background {
    background-image: url('../assets/fondo-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
    color: var(--color5);
}

.header-buttons {
    position: absolute;
    top: 20px;
    right: 30px;
}

.header-content h1 {
    font-size: 5em;
    margin-bottom: 4%;
}

.header-content p {
    color: var(--color4);
    font-size: 1em;
    background-color: var(--color5);
    padding: 0.75%;
    border-radius: 10px;
    width: 40%;
}

.header-content div {
    display: flex;
    flex-direction: row-reverse;
}

/* Media query para pantallas medianas */
@media (max-width: 768px) {
    .header-background{
        height: 100vh;
    }
    .header-content h1 {
        font-size: 4em;
    }
    .header-content p {
        font-size: 0.85em;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
    .header-content h1 {
        font-size: 3.7em;
    }

    .header-content p {
        font-size: 0.8em;
    }
}